ul.breadcrumbs {
  background: none;
}

a .callout {
  color: #fff;
}

ul[data-dropdown-content] {
  margin: 0;
  margin-top: 5px;
}

.button-group ul[data-dropdown-content] {
  margin: 0;
}

.clearing-thumbs {
  list-style-type: none;
}
.clearing-thumbs li {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.show-grid .column, .show-grid .columns { border: solid 1px #eee; background: #f4f4f4; }